Marks	Component 									Criteria 
=====	=========									========
10 		Report 										Game description and Test plan. 
3 		Video 										Short demo of the game. 
*2 		Keyboard Controls Implemented 				Arrow keys responded to by character. 
*1 		Game closes on clicking ‘X’ 				Exit application successfully. 
*3 		Texture Component Implemented. 				Class for setting up and holding a texture successfully implemented. 
*5 		Character Component Implemented. 			Class for positioning, moving, drawing a character successfully implemented. 
*1 		Character Movement 							Character moves left & right 
*1 		Character Jumping 							Character jumps and descends appropriately. 
*5 		Screen Manager Component Implemented. 		Class for controlling the current game screen implemented. Should be able to switch screens and update / render the relevant one. 
?1 		Title Screen Implemented 					Title screen allowing access to the game successfully implemented. 
*1 		Level 1 Screen Implemented 					Level 1 of Mario Bros. 
*4 		Collision Detection Component Implemented. 	Singleton class for dealing with different collision type successfully implemented. 
*1 		Collision Detection:	Bounding Box 		Bounding Box collision works accurately. 
*1 		Collision Detection:	Bounding Circle 	Bounding Circle collision works accurately. 
*5 		Level Map Component Implemented 			Class for drawing tiles as a background successfully implemented. 
*2 		Map read in from file 						Map stored externally and read in. 
*1 		Characters collide with Tiles 				Characters do not intersect with background tiles. 
*5 		Sound Manager Implemented 					Class for storing and playing sound files successfully implemented. 
*1 		Music plays 								Music loops throughout the level. 
*1 		SFX played on Jump 							Relevant sound effect played on Jump and Death. 
*5 		Font Component Implemented 					Class to handle drawing text to the screen successfully implemented. 
*1 		Score Text displayed on screen 				Score is displayed. 
*5 		Level 1:	AI Characters 					Enemy characters act appropriately as would be expected from a Mario Bros game. 
25 		Level 2:	Extra Features 					Marks awarded for more complex features beyond that of level 1 implemented.  
													Example features: Animated Mario, High score tables, Multiplayer, Animations… 
10 		Demonstration 								Ability to answer questions regarding code. No demonstration = no marks for this element. 
100 	Total 	 

44		Marks so far